/* Example styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: lightslategray;
}

#jokeDisplay {
    margin-top: 20px;
    font-size: 20px;
    color: black;
}
button {
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: blue;
    border: none;
    cursor: pointer;
    flex: flex;

}

